.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  padding: 0;
}

.city-cell {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.city-cell-title {
  font-size: large;
  color: black;
}

.city-cell-detail {
  font-size: medium;
  color: gray;
}

.div-right-align {
  text-align: right;
}

.div-left-align {
  text-align: left;
}

.max-width {
  width: 100%;
}

.search-row {
  text-align: left;
  margin-top: 5px;
}

.label-title {
  font-size: x-large;
}